body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* General Table Style */
.table {
  margin: auto;
  font-size: 15px;
  border-collapse: collapse;
  border-style: hidden;
}

/* Container for the table */
.tableContainer {
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

/* Wrapper for scrolling */
.table-wrap {
  max-height: 300px;
  max-width: 600px;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
  margin-top: 100px;
}

/* Table itself */
#dataTable {
  width: 100%;
  min-width: 800px;
  text-align: center;
  margin: auto;
}

/* Table Header */
.table thead th {
  background-color: #ffffff;
  color: #161616;
  padding: 12px 15px;
  text-transform: uppercase;
 
  background-color: #f1f1f1;
  cursor: pointer;
  white-space: nowrap; /* Prevent text wrapping */
  text-align: center;
}

/* Table cells */
table th, table td {
  padding: 5px 10px;
  border: 1px solid #ddd;
}

/* Sort Arrows for Column Headers */
table th::after {
  content: ' 🔽'; /* Default to descending icon */
  margin-left: 5px; /* Space between text and icon */
  font-size: 13px;
  
}

/* If column is sorted in ascending order */
table th.sort-asc::after {
  content: ' 🔼'; /* Ascending icon */
  font-size: 13px;
}

/* If column is sorted in descending order */
table th.sort-desc::after {
  content: ' 🔽'; /* Descending icon */
  font-size: 13px;
}

#searchInput {
  width: 150px;
  padding: 10px;
  margin-bottom: 20px;
  position: fixed;
  top: 30px;
  right: 400px;
  border-radius: 5px;
}

#pagination-control {
  margin-bottom: 20px;
  position: fixed;
  top: 30px;
  left: 380px;
}

#pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  
}

#pagination button {
  padding: 8px 16px;
  margin: 0 2px;
  cursor: pointer;
  
}

#pagination button.active {
  background-color: #2b2c2c;
  color: white;
}

#rowsPerPage {
  border-radius: 10px;
  padding: 10px;
 
  
}

/* Responsive Design */
@media (max-width: 768px) {
  /* For small screens, adjust the position and width */
  #searchInput {
    width: 150px;
    right: 10px;
  }

  #pagination-control {
    right: 160px;
  }

  .tableContainer {
    width: 95%;
  }
}


.table th:nth-child(1),
.table th:nth-child(2),
.table td:nth-child(1),
.table td:nth-child(2) {
  position: sticky;
  left: 0;
  background-color: #f8f5f5; /* Background to avoid overlap issues */
  z-index: 1;
  text-align: center;
  /* white-space: nowrap; Prevent text wrapping */
}

/* Sticky second column with a higher z-index */
.table th:nth-child(2),
.table td:nth-child(2) {
  z-index: 2;
}

.table thead {
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
  z-index: 3; /* Ensure it stays above the body rows */
}