/* body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
} */

/* General Table Style */
/* #container{
  background: #FFFFFFFF; 
  border-radius: 10px; 
  border-width: 1px; 
  border-color: rgb(184, 180, 180); 
  border-style: solid; 
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
} */ 
.table {

  margin: auto;
  font-size: 16px;
  border-collapse: collapse;
  border-style: hidden;
  width:100%; 

}

.tableContainer {
  margin: auto;
  text-align: center;
  width: 75%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  position: absolute; 

  left: 340px;
  margin-top:20px;
  
 
}

.table-wrap {
  max-height:calc(100vh - 350px);
  width:100%;
  max-width: 100%;  
  position: absolute; 
  /* overflow-x: auto ; */
  overflow-x:auto;
}



#dataTable {
  width: 100%;
  min-width:100%; 
  text-align: left;
  /* margin: auto; */
  /* border:none; */
}


.table thead th {
  color: #ffffff;
  /* padding: auto; */
  text-transform: uppercase;
 
  /* background-color: #adadad; */
  /* white-space: nowrap;                  
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ddd; */
  /* border-inline:unset; */
 
}

/* .table thead th .freeze-column{
  top: 0;
  z-index: 1;

} */

table th, table td {
  /* padding: 5px 10px; */
  /* border: 1px solid #ddd; */
  text-align: center;
  white-space: nowrap; 
  max-width: 150px; 
  /* overflow: hidden; */
  text-overflow: ellipsis;
  min-width:230px;
  /* overflow: hidden; */

 

}
table th{
  padding-top: 15px !important;
  padding-bottom:15px !important;
  padding-right: 10px !important;
  background-color:rgb(119, 149, 231) !important;
  position: sticky;
  top:0;
  z-index: 1;
}
table td{
  padding-top:4px !important ;
  padding-bottom:4px !important;
}

#dataTable tr:nth-child(2n+1){
  background-color: rgb(209, 219, 248);
}

#tableName{
  display:flex;
  margin-top:100px;
  margin-left: 400px;
}
h4 {
  font-size: 20px;            
  font-weight: 500;   
  color: #30c71c; 
  padding-left: 550px;           
  text-align: center;         
  letter-spacing: 1px;       
  line-height: 1.5;          
}

#search-view{
  margin-top: 50px;
  padding-bottom:1px;
 

  
}
#searchControl{
  padding: 0px;
  margin-bottom: 0px;
  position:absolute;
  right: 60px;
  font-size: 20px;
  
}
#searchInput {
 
  /* /* width: 250px;
  height:45px; */
  /* border: none; /* Remove the default border */

  /* border-bottom: 1px solid #181717; /* Add a line at the bottom */
  /* outline: none; Remove outline on focus */ 

    /* border-radius: 3px; */
   padding-left: 5px;
  /* width:200px;
  background-color: transparent;
  color: inherit;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 15px;;  */
  width: 200px;
  height: 30px;
  padding-left : 60px;
  border: 1px solid #a2bffa;
  border-radius: 24px;
  background-color: #fff;
  color: #5f6163;
  font-size: 16px;
  outline: none;
  transition: box-shadow 0.1s ease;
  



  background-image: url('https://img.icons8.com/ios-filled/50/000000/search--v1.png'); /* Replace with your icon URL */
  background-size: 18px; /* Size of the search icon */
  background-position: 20px center; /* Position the icon on the left */
  background-repeat: no-repeat;
}

#searchInput:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#searchInput::placeholder {
  color: #9aa0a6;
}


#pagination-control {
  /* margin-bottom: 20px;
  position: fixed;
  top: 30px;
  left: 380px; */


  box-sizing: border-box;
    display: inline-block;
    min-width: 5.9em;
    padding: .5em 1em;
    padding-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent;

}

#pagination {
  position:fixed;
  bottom: 5%;
  left: 80%;
  right: 0;
  margin: 10px 10;
  display: flex;
  justify-content: center;
  color: #263af0;
  background-color:rgb(255, 255, 255) ;
  padding:0px 0px;

}

#pagination button {
  /* padding: 4px 7px; */
  margin: 0 10px;
  cursor: pointer;
  /* background-color:rgb(255, 255, 255) ; */
  border: none !important;
  
  
}

#pagination button.active {
  background-color:rgb(255, 255, 255) ;
  color: rgb(26, 24, 24);
}
/* #pagination button:first-child::before {
  content: '«';
} */

/* #pagination button:nth-child(2)::before {
  content: '‹';
} */

#pagination button:last-child::after {
  content: '»';
}

/* #pagination button:nth-last-child(2)::after {
  content: '›';
} */
#rowsPerPage {
  border-radius: 3px;

  background-color: #ffffff;
  height:35px;
  width:70px;
  padding:0px;
  margin-left: 348px;
  font-size:12px;
  color: #181616;
  

    
}

/* name nof page */
#rowbox{
  padding-left:10px;
  font-size: 14px;
  letter-spacing: 4px ;

  
}


@media (max-width: 1500px) {

  #tableName{
    margin-left: 120px;
  }

  h4 {
    font-size: 20px;            
    font-weight: 500;   
    padding-left: 200px;           
    text-align: center;         
    letter-spacing: 1px;       
    line-height: 1.5;          
  }
  #searchInput {
    width: 90px;
    right: 10px;
    font-size: 15px;
    background-size: 15px;
    background-position: 70px ; 
      background-repeat: no-repeat;
  }
  
  #searchControl{
  
    top: 228px;
    right: 85px;
    font-size: 20px;
    
  }
  #rowsPerPage {
    border-radius: 2px;
  
    background-color: #ffffff;
    height:25px;
    width:60px;
    padding:1px;
    margin-top:5px;
    margin-left: 14px;
    font-size:10px;
  
      
  }
  .tableContainer {
    margin: auto;
    text-align: center;
    width: 90%;
    max-height:10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
    position: absolute; 
    
    left: 20px;
    margin-top:20px;
    
   
  }
  table th, table td {
    /* padding: 5px 10px; */
    /* border: 1px solid #ddd; */
    text-align: center;
    white-space: nowrap; 
    max-width: 150px; 
    /* overflow: hidden; */
    text-overflow: ellipsis;
    min-width:100px;
   
  
  }
  table th{
    text-align: left;
    padding-top: 10px;
    padding-bottom:23px;
  }
  

  #pagination-control {
    right: 160px;
  }

  /* .tableContainer {
    width: 75%;
  } */
  
  table th::after {
    position: absolute;
    display: block;
    bottom: 50%;
    content: "▲";
    content: "▲" /"";
    /* margin-left: 55px;  */
    padding-left: 75px !important;
    font-size: 2px;
    
  }
  
  table th.sort-asc::after {
    position: absolute;
      display: block;
      bottom: 50%;
      content: "▲";
      content: "▲" /"";
    font-size: 5px;
    padding-left: 75px !important;
  
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.019);
  }
  
  table th.sort-desc::after {
    content: "▼";
      content: "▼" /"" ;
    font-size: 5px;
    padding-left: 75px !important;
  
  }

  .fix-checkbox {
    position: absolute;
    right: 40px !important;
    top: 5%;
    transform: translateY(-50%);
  }


 .move-handle {
  cursor: move;

  position:absolute;
  right: 25px !important;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="9" cy="12" r="1"/><circle cx="9" cy="5" r="1"/><circle cx="9" cy="19" r="1"/><circle cx="15" cy="12" r="1"/><circle cx="15" cy="5" r="1"/><circle cx="15" cy="19" r="1"/></svg>') no-repeat center center;

  opacity: 1;
  font-size: 50px;
} 



handle:hover {
  opacity: 1;
}
  /* #uniq1{
    left:0 !important;
    z-index: 1000;

  }
#uniq2{
    left:90px !important;

  }
#uniq3{
    left: 180px !important;
      
  } */
  
}







/* .table thead {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 3;
} */
.table th,
.table td {
  max-width:500px; 
  min-width: 150px;
  /* white-space: nowrap;  */
  text-align: left !important;
}


/* .sticky {
  position: sticky;
  background-color: white;
  z-index: 2;
} */

/* .sticky {
  position: sticky;
  left: 0;
  background-color: #f9f9f9;
  z-index: 2; 
  border-right: 1px solid #ddd; 
}

.freeze-column-1 {
  left: 0;
  z-index: 3;
}
.freeze-column-2 {
  left: 230px;
  z-index: 3;
}

.freeze-column-3 {
  left: 460px; 
  z-index: 3;
}

.freeze-column-4 {
  left: 690px; 
  z-index: 3;
}

.freeze-cell-1 {
  left: 0 !important; 
  z-index: 3;

}
.freeze-cell-2 {
  left: 2030 !important;
  z-index: 3;

}
.freeze-cell-3 {
  left: 460 !important;
  z-index: 3;

}
.freeze-cell-4 {
  left: 690 !important;
  z-index: 3;

}
 */
 .move-handle {
  cursor: move;
  position: absolute;
  right: 15px;
  top: 40%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="8" y1="5" x2="8" y2="19"/><line x1="12" y1="5" x2="12" y2="19"/><line x1="16" y1="5" x2="16" y2="19"/></svg>') no-repeat center center;  opacity: 1;
}

.move-handle:hover {
  opacity: 1;
  z-index: 3;
}

.drag-preview {
  display:flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 0px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: all 0.2s ease;
  cursor: grabbing;
  z-index: 1000;
}

.placeholder {
  opacity: 0.5;
  background-color: rgba(197, 228, 255, 0.4);
  border: 1px dashed #aaa;
  transition: background-color 0.2s ease;
}



/*  aba796 989586   858275  ,  727064   */
.fixed-column {
  position: sticky;
  background-color:#a1cdff;
  z-index: 1;
  left: 0;
  top: 0;
  overflow:hidden !important;
}
.fixed-header {
  position: sticky;
  background-color:#a1cdff;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-x: auto !important;
}
.scrollable-columns{
  overflow-x:auto !important  ;
  overflow-y: auto !important;
}

.scrollable-columns::-webkit-scrollbar{
  width:100px;
  height:10px;
}

.scrollable-columns::-webkit-scrollbar-thumb{
  background:#d61414 !important;
  border-radius:5px;
}

.scrollable-columns::-webkit-scrollbar-track{
  background:#ffffff;
}


/* .fixed-column:nth-child(2) {
  left: 15px;}

.fixed-column:nth-child(3) {
  left: 300px; }
.fixed-column:nth-child(3) {
  left: 400px; }
.fixed-column:nth-child(4) {
  left: 600px; 
} */



/* th {
  position: sticky;
  z-index: 1;
} */
/* .highlight {
  background-color: #535353;
} */

/* .fixed-column {
  position: sticky;
  z-index: 1;
  left: 0;
} */
/*  */



/* .dragging {
  opacity: 2;
  background-color: #572424;  
  border: 5px solid #d4d4d4;
  box-shadow: 700 700 700 px rgba(0, 0, 0, 0.9);
  z-index: 100;

}  */



.fix-checkbox {
  position: absolute;
  right: 40px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;

}

table th::after {
  position: absolute;
  display: block;
  top: 25%;
  content: "▲";
  content: "▲" /"";
  padding-left: 50%;
  cursor: pointer;
  color: rgb(16, 16, 124);
  font-size: 13px;
  
}
/*   color: rgb(80, 80, 240);
*/

table th.sort-asc::after {
  position: absolute;
    /* display: block; */
    top: 25%;
    content: "▲";
    content: "▲" /"";
    padding-left: 50%;
    cursor: pointer;
    color: rgb(16, 16, 124);


  font-size: 13px;

  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.019);
}

table th.sort-desc::after {
  position: absolute;
    /* display: block; */
    top: 25%;
    content: "▼";
    content: "▼" /"" ;
    padding-left: 50%;
    cursor: pointer;
    color: rgb(16, 16, 124);

  font-size: 13px;

}
.header{
  font-size: 15px;
  color: #0e0d0d !important;
  
}



/* 


/* #uniq1{
  position:sticky;
  left:0;
  z-index: 1;
  text-align: center ;
  white-space: nowrap;
  background-color: hsl(57, 100%, 75%); 

}
#uniq2{
  position:sticky;
  left:230px;
  z-index: 1;
  text-align: center ;
  white-space: nowrap; 
  background-color: hsl(57, 100%, 75%); 

}
#uniq3{
  position:sticky;
  left: 460px;
  z-index: 1;
  text-align: center ;
  white-space: nowrap; 
  background-color: hsl(57, 100%, 75%); 
} */